[Desktop Entry]
Version=1.0
Type=Application
Name=Chiri
GenericName=CalDAV task manager
Comment=A cross-platform CalDAV task management app. Currently in very early alpha!
Exec=garden.chiri.Chiri
Icon=garden.chiri.Chiri
Terminal=false
Categories=Office;Calendar;ProjectManagement;GTK;
Keywords=caldav;tasks;todo;calendar;productivity;reminder;sync;nextcloud;gtd;checklist;planner;organize;schedule;agenda;ical;vtodo;
StartupWMClass=garden.chiri.Chiri
StartupNotify=true
